
<style>
.t{margin: 0 auto;}

    a:visited {
        color: green;
    }

    a:hover {
        color: hotpink;
    }
</style>
<div class="t">


<a asp-controller="Employee" asp-action="Search">see details about Books</a> </br>
<a asp-controller="Employee" asp-action="Logout">Logout</a></br>

</div>