
<!DOCTYPE html>
<html>
<head>
    <style>


        body {
            text-align: center;
            background-color: lightslategrey;
            background-size: cover;
        }

    </style>
</head>
<body>

    <div>
        <h1 class="display-4">Welcome To Jerusalem Library</h1>
        <p><h2>Tell Us Who are you? </h2></p>
        <table>
            <tr>
                <th> <a asp-controller="Employee" asp-action="Login" class="btn btn-primary">I am an Employee</a> </th>

                <th> <a asp-controller="Customer" asp-action="Login" class="btn btn-primary">I am a Customer</a> </th>
            </tr>


        </table>
    </div>
</body>
</html>
