@using Microsoft.AspNetCore.Http;
@model Customer
<style>
    .t{margin: 0 auto;}
</style>
<div class="t">
    <form asp-controller="Customer" asp-action="ChangePassword" method="post">
    <div>
        <br>
        <br>
        <label>Enter New Password &nbsp;</label>
        <input type="password" name="newpass" />
    </div>
    <div>
        <br>
        <br>
        <button type="submit">Change Password &nbsp;</button>
    </div>
</form>
</div>